div {
  text-align: center;
  border: 2px solid #fff;
  padding: 5px 5px;
  color: #fff;
  width: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
:host {
  width: 100%;
}
