@if(!isSucess){
<h2>Add Comment</h2>
<form (ngSubmit)="onSubmit()">
  <p>
    <label for="postId">PostId</label>
    <input
      type="number"
      id="postId"
      name="postId"
      min="1"
      [(ngModel)]="postIdField"
    />
  </p>

  <p>
    <label for="name">Name</label>
    <input id="name" name="name" type="text" [(ngModel)]="nameField" />
  </p>

  <p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="emailField" />
  </p>
  <p>
    <label for="comment">Summary</label>
    <textarea
      id="comment"
      rows="5"
      name="comment"
      [(ngModel)]="commentField"
    ></textarea>
  </p>

  <p class="actions">
    <button type="button">Cancel</button>
    <button type="submit">Create</button>
  </p>
</form>

}@else {
<app-add-sucess message="New Comment Added Sucessfully" />
}
